@use '@styles/mixins.scss' as *;
@import '@styles/layer-order.scss';

@layer base.components {
    .button {
        @include buttons;

        align-items: var(--cta-align-items);
        display: var(--cta-button-display);
        justify-content: var(--cta-button-justify-content);
        gap: var(--cta-button-gap);
        border-radius: var(--cta-button-border-radius);
        border: 2px solid var(--cta-button-border);
        padding: var(--cta-button-padding);

        @include mobile-100-w;
    }
}
