@use '@styles/mixins.scss' as *;
@import '@styles/layer-order.scss';

@layer base.components {
    .button {
        @include buttons;

        align-items: var(--link-icon-button-align-items);
        color: var(--link-icon-button-color);
        display: var(--link-icon-button-display);
        gap: var(--link-icon-button-gap);
        justify-content: var(--link-icon-button-justify-content);
        line-height: var(--link-icon-button-line-height);
        padding: var(--link-icon-button-padding);
        vertical-align: var(--link-icon-button-vertical-align);

        &.error,
        &.alternate,
        &.base,
        &.disabled {
            background: var(--link-icon-button-background-color);

            &:hover {
                background: var(--link-icon-button-background-color-hover);
            }
        }

        &.error {
            color: var(--link-icon-button-error-color);

            &:hover {
                color: var(--link-icon-button-error-color-hover);
            }
        }

        &.alternate {
            color: var(--alternate-theme-3);

            &:hover {
                color: var(--alternate-theme-4);
            }
        }

        &.base {
            color: var(--base-theme-4);

            &:hover {
                color: var(--base-theme-3);
            }
        }

        &.disabled {
            color: var(--link-icon-button-disabled-color);

            &:hover {
                color: var(--link-icon-button-disabled-color-hover);
            }
        }

        &.iconOnly {
            padding: var(--link-icon-only-button-padding);

            &:hover {
                &.error {
                    background: var(--link-icon-only-button-error-background-color-hover);
                }

                &.alternate {
                    background: var(--alternate-theme-2);
                }

                &.base {
                    background: var(--base-theme-3);
                }
            }

            &.disabled {
                background: var(--link-icon-only-button-disabled-background-color);

                &:hover {
                    background: var(--link-icon-only-button-disabled-background-color-hover);
                }
            }

            span {
                margin: 0;
            }
        }
    }
}
