@use '@styles/mixins.scss' as *;
@import '@styles/layer-order.scss';

@layer base.components {
    .button {
        @include buttons;

        padding: 0; // only apply padding var to .innerButton

        .innerButton {
            align-items: var(--primary-button-inner-align-items);
            display: var(--primary-button-inner-display);
            justify-content: var(--primary-button-inner-justify-content);
            gap: var(--primary-button-inner-gap);
            padding: var(--primary-button-padding);
        }

        @include mobile-100-w;
    }
}
