@use '@styles/mixins.scss' as *;
@import '@styles/layer-order.scss';

@layer base.components {
    .button {
        @include buttons;

        &.base,
        &.alternate,
        &.error {
            background-color: var(--secondary-button-background-color);

            &:hover {
                color: var(--secondary-button-color-hover);
            }
        }

        &.error {
            border: var(--secondary-button-error-border);
            color: var(--secondary-button-error-color);

            &:hover {
                background-color: var(--secondary-button-error-background-color-hover);
                border: var(--secondary-button-error-border-hover);
            }
        }

        &.alternate {
            border: 2px solid var(--alternate-theme-3);
            color: var(--alternate-theme-3);

            &:hover {
                background-color: var(--alternate-theme-4);
                border: 2px solid var(--alternate-theme-4);
            }
        }

        &.base {
            border: 2px solid var(--base-theme-4);
            color: var(--base-theme-4);

            &:hover {
                background-color: var(--base-theme-3);
                border: 2px solid var(--base-theme-3);
                color: var(--secondary-button-base-color);
            }
        }

        &.disabled {
            background-color: var(--secondary-button-disabled-background-color);
            border: var(--secondary-button-disabled-border);
            color: var(--secondary-button-disabled-color);

            &:hover {
                background-color: var(--secondary-button-disabled-background-color-hover);
                border: var(--secondary-button-disabled-border-hover);
                color: var(--secondary-button-disabled-color-hover);
            }
        }

        @include mobile-100-w;
    }
}
