@use '@styles/mixins.scss' as *;
@import '@styles/layer-order.scss';

@layer invoicecloud-base.invoicecloud-components {
    .button {
        @include buttons;

        border: var(--invoicecloud-simple-button-border);
        border-radius: var(--invoicecloud-simple-button-border-radius);
        color: var(--invoicecloud-simple-button-color);
        margin: var(--invoicecloud-simple-button-margin);
        padding: var(--invoicecloud-simple-button-padding);

        &.error,
        &.alternate,
        &.base,
        &.disabled {
            background: var(--invoicecloud-simple-button-background-color);

            &:hover {
                background: var(--invoicecloud-simple-button-background-color-hover);
            }
        }

        &.error {
            color: var(--invoicecloud-simple-button-error-color);

            &:hover {
                color: var(--invoicecloud-simple-button-error-color-hover);
            }
        }

        &.alternate {
            color: var(--invoicecloud-alternate-theme-2);

            &:hover {
                color: var(--invoicecloud-alternate-theme-4);
            }
        }

        &.base {
            color: var(--invoicecloud-base-theme-4);

            &:hover {
                color: var(--invoicecloud-base-theme-3);
            }
        }

        &.disabled {
            background: var(--invoicecloud-simple-button-disabled-background);
            color: var(--invoicecloud-simple-button-disabled-color);

			&:hover {
				color: var(--invoicecloud-simple-button-disabled-color-hover);
			}
        }

		// to-do: the new <Grid> component may solve this better
        @media (max-width: 500px) {
            margin: 0 12px 12px 12px;
        }
    }
}
