@import '@styles/layer-order.scss';

@layer base.components {
    .inputContainer {
        margin-bottom: var(--input-container-margin-bottom);
        width: var(--date-picker-container-width);

        @media (min-width: 500px) {
            width: var(--input-desktop-width);
        }
    }
}
