@import '@styles/layer-order.scss';

@layer invoicecloud-base.invoicecloud-components {
    .inputContainer {
        margin-bottom: var(--invoicecloud-input-container-margin-bottom);
        width: var(--invoicecloud-date-picker-container-width);

        @media (min-width: 500px) {
            width: var(--invoicecloud-input-desktop-width);
        }
    }
}
