@use '@styles/mixins.scss' as *;
@import '@styles/layer-order.scss';

@layer base.components {
    .fieldset {
        border-radius: var(--input-border-radius);
        border: var(--fieldset-border);
        margin-bottom: var(--input-container-margin-bottom);
        padding: var(--fieldset-padding);
        width: var(--input-desktop-width);

        @include mobile-100-w;
    }

    .legend {
        font-size: var(--legend-font-size);
        font-weight: var(--legend-font-weight);
        margin-left: var(--legend-margin-left);
        padding: var(--legend-padding);
    }
}
