@use '@styles/mixins.scss' as *;
@import '@styles/layer-order.scss';

@layer base.components {
    .fieldset {
        border-radius: var(--invoicecloud-input-border-radius);
        border: var(--invoicecloud-fieldset-border);
        margin-bottom: var(--invoicecloud-input-container-margin-bottom);
        padding: var(--invoicecloud-fieldset-padding);
        width: var(--invoicecloud-input-desktop-width);

        @include mobile-100-w;
    }

    .legend {
        font-size: var(--invoicecloud-legend-font-size);
        font-weight: var(--invoicecloud-legend-font-weight);
        margin-left: var(--invoicecloud-legend-margin-left);
        padding: var(--invoicecloud-legend-padding);
    }
}
