@import '@styles/layer-order.scss';

@layer base.components {
    .helperText {
        display: block;
        font-size: var(--invoicecloud-helper-text-font-size);
    }

    .errorText {
        color: var(--invoicecloud-helper-text-error-color);
    }
}
