@import '@styles/layer-order.scss';

@layer invoicecloud-base.invoicecloud-components {
    .label {
        display: block;
        font-size: var(--invoicecloud-label-font-size);
        font-weight: var(--invoicecloud-label-font-weight);
    }

    .inlineLabel {
        align-items: center;
        display: flex;
    }

    .required {
        color: var(--invoicecloud-input-required-color);
    }
}
