@use '@styles/mixins.scss' as *;
@import '@styles/layer-order.scss';

@layer base.components {
    .multiSelectContainer {
        margin-bottom: var(--invoicecloud-input-container-margin-bottom);
        width: var(--invoicecloud-input-desktop-width);

        .chevronPositioning {
            align-items: center;
            display: flex;
            position: relative;
            width: fit-content;

            svg {
                pointer-events: none;
                position: absolute;
                right: 1rem;
                top: 42%;
            }

            .activeChevron svg {
                transform: rotate(-180deg);
            }

            @include mobile-100-w;
        }

        .multiSelectButton {
            appearance: none;
            background: none;
			border: none;
            font-size: var(--invoicecloud-input-font-size);
            margin: var(--invoicecloud-input-margin);

            input[aria-label='Search options'] {
				border-radius: var(--invoicecloud-input-border-radius);
                font-size: var(--invoicecloud-input-font-size);
                height: var(--invoicecloud-input-height);
                padding: var(--invoicecloud-input-padding);
                text-align: left;
                width: var(--invoicecloud-input-desktop-width);

                &:focus-visible {
                    border: var(--invoicecloud-input-border-focus);
                }

                &:hover {
                    border: var(--invoicecloud-input-border-hover);
                }

                @include mobile-100-w;
            }

            @include mobile-100-w;
        }

        .multiSelectDropdown {
            background: var(--invoicecloud-multiselect-dropdown-background-color);
            border: var(--invoicecloud-input-border);
            left: 0;
            position: absolute;
            top: 100%;
            width: 100%;
            z-index: 1;
        }

        .multiSelectSearch {
			border: var(--invoicecloud-input-border);
            padding: var(--invoicecloud-spacing-xs);
            width: calc(100% - 16px);
        }

        .multiSelectList {
            list-style: none;
            padding: 0;
            margin: 0;
            max-height: var(--invoicecloud-multiselect-dropdown-max-height);
            overflow-y: auto;
        }

        .multiSelectItem {
            label {
                display: flex;
                align-items: center;

                input {
                    margin: var(--invoicecloud-multiselect-checkbox-margin);
                }
            }

            &:hover {
                background-color: var(--invoicecloud-multiselect-item-background-color-hover);
                border-bottom: var(--invoicecloud-multiselect-item-border-bottom-hover)
            }
        }

		// to-do: can we delete this and its corresponding .tsx 
        // .hoverActive {
        //     background-color: var(--invoicecloud-base-theme-1);
        //     border-bottom: 1px solid var(--invoicecloud-base-theme-3);
        // }

        .selectAll {
            border-bottom: 1px solid var(--invoicecloud-utility-neutral-20);
            font-weight: 700;
        }

        .input[aria-invalid='true'] {
            border-color: var(--invoicecloud-input-invalid-border-color);
            border-left-width: var(--invoicecloud-input-invalid-border-left-width);
        }

        .chipContainer {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            gap: var(--invoicecloud-spacing-xs);
            margin: var(--invoicecloud-spacing-xs) 0 var(--invoicecloud-spacing-xxs) 0;
            width: 100%;

            .cancelLink {
                button {
                    font-weight: 400;
                    margin: var(--invoicecloud-spacing-xxs) 12px;
                    text-decoration: underline;
                }
            }
        }

        @include mobile-100-w;
    }
}
