@import '@styles/layer-order.scss';

@layer base.components {
    .radio {
        appearance: none;
        background-color: var(--radio-background-color);
        border-radius: var(--radio-border-radius);;
        border: var(--radio-border);
        box-sizing: border-box;
        height: var(--radio-height);
        margin: var(--radio-margin);
        outline: none;
        padding: var(--radio-padding);
        transition: var(--radio-transition);
        width: var(--radio-width);

        &:not(:disabled):checked {
            background-clip: content-box;
            background-color: var(--radio-selected-background-color);
            background-image: var(--radio-selected-shape);
            border-color: var(--radio-selected-border-color);
            padding: var(--radio-selected-padding);
        }

        &:disabled {
            background-color: var(--radio-disabled-background-color);
			cursor: not-allowed;
        }

        &:disabled:checked {
            background-image: var(--radio-selected-disabled-shape);
        }

        &:focus-visible:not(:checked) {
            outline: var(--radio-focus-outline);
            border: var(--radio-focus-border);
            transform: var(--radio-focus-transform);
        }

        &:not(:disabled):hover {
            border: var(--radio-hover-border);
            transform: var(--radio-hover-transform);
        }

        @media (prefers-reduced-motion: reduce) {
            transition: none;

            &:focus-visible {
                transform: scale(1);
            }
        }

        @media (prefers-reduced-motion: reduce) and (hover: hover) {
            &:not(:disabled):hover {
                transform: scale(1);
            }
        }
    }
}
