@use '@styles/mixins.scss' as *;
@import '@styles/layer-order.scss';

@layer base.components {
    @include inputs;

    .inputContainer,
    .inputInnerContainer,
    .input {
        width: var(--invoicecloud-input-desktop-width);

        @include mobile-100-w;
    }

    .inputContainer {
        margin-bottom: var(--invoicecloud-input-container-margin-bottom);

        .inputInnerContainer {
            position: relative;

            .inputAdornment {
                align-items: center;
                display: flex;
                font-size: var(--invoicecloud-input-font-size);
                height: 100%;
                margin: 0 var(--invoicecloud-spacing-s);
                position: absolute;
            }

            .inputPaddingLeft {
                padding-left: var(--invoicecloud-spacing-l);
            }

            .inputPaddingRight {
                padding-right: var(--invoicecloud-spacing-xxl);
            }
        }
    }

    .adornmentRight {
        right: 0;
    }
}
