.grid-component {
    align-content: var(--invoicecloud-grid-align-content);
    align-items: var(--invoicecloud-grid-align-items);
    column-gap: var(--invoicecloud-grid-col-gap);
    display: grid;
    gap: var(--invoicecloud-grid-gap);
    grid-template-columns: var(--invoicecloud-grid-columns);
    grid-template-rows: var(--invoicecloud-grid-rows);
    justify-content: var(--invoicecloud-grid-justify-content);
    justify-items: var(--invoicecloud-grid-justify-items);
    row-gap: var(--invoicecloud-grid-row-gap);
}

@media (max-width: 768px) {
    .grid-component {
        grid-template-columns: var(--invoicecloud-grid-columns-sm, var(--invoicecloud-grid-columns));
        grid-template-rows: var(--invoicecloud-grid-rows-sm, var(--invoicecloud-grid-rows));
        gap: var(--invoicecloud-grid-gap-sm, var(--invoicecloud-grid-gap));
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .grid-component {
        grid-template-columns: var(--invoicecloud-grid-columns-md, var(--invoicecloud-grid-columns));
        grid-template-rows: var(--invoicecloud-grid-rows-md, var(--invoicecloud-grid-rows));
        gap: var(--invoicecloud-grid-gap-md, var(--invoicecloud-grid-gap));
    }
}

@media (min-width: 1025px) {
    .grid-component {
        grid-template-columns: var(--invoicecloud-grid-columns-lg, var(--invoicecloud-grid-columns));
        grid-template-rows: var(--invoicecloud-grid-rows-lg, var(--invoicecloud-grid-rows));
        gap: var(--invoicecloud-grid-gap-lg, var(--invoicecloud-grid-gap));
    }
}
