@mixin mobile-100-w {
    @media (max-width: 500px) {
        width: 100%;
    }
}

@mixin buttons {
    border: var(--primary-button-border);
    border-radius: var(--primary-button-border-radius);
    color: var(--primary-button-color);
    font-size: var(--primary-button-font-size);
    font-weight: var(--primary-button-font-weight);
    margin: var(--primary-button-margin);
    padding: var(--primary-button-padding);

    &.error {
        background-color: var(--primary-button-error-background-color);

        &:hover {
            background-color: var(--primary-button-error-background-color-hover);
        }
    }

    &.alternate {
        background-color: var(--alternate-theme-2);

        &:hover {
            background-color: var(--alternate-theme-4);
        }
    }

    &.base {
        background-color: var(--base-theme-4);

        &:hover {
            background-color: var(--base-theme-3);
        }
    }

	// To-do: confirm these vars
    &.outline {
        background-color: var(--utility-neutral-0);
        border: var(--primary-button-border-outline);
        color: var(--base-theme-4);

        &:hover {
            border: var(--primary-button-border-outline-hover);
            color: var(--base-theme-3);
        }
    }

    &:focus-visible {
        outline: var(--focus-outline);
        outline-offset: var(--focus-outline-offset-s);
    }

    &.disabled {
        border: var(--primary-button-disabled-border);
        background-color: var(--primary-button-disabled-background-color);
        color: var(--primary-button-disabled-color);
		cursor: not-allowed;

        &:hover {
            background-color: var(--primary-button-disabled-background-color-hover);
            color: var(--primary-button-disabled-color-hover);
        }
    }
}

@mixin inputs {
    .inputContainer {
        margin-bottom: var(--input-container-margin-bottom);
    }

    .input {
        border: var(--input-border);
        border-radius: var(--input-border-radius);
        font-size: var(--input-font-size);
        height: var(--input-height);
        margin: var(--input-margin);
        padding: var(--input-padding);
        width: var(--input-desktop-width);

        &:focus-visible {
            border: var(--input-border-focus);
        }

        &:hover {
            border: var(--input-border-hover);
        }

        &:disabled {
            background-color: var(--input-disabled-background-color);
			cursor: not-allowed;

            &:hover {
                border: var(--input-disabled-border-hover);
            }
        }

        @include mobile-100-w;
    }

    .input[aria-invalid='true'] {
        border-color: var(--input-invalid-border-color);
        border-left-width: var(--input-invalid-border-left-width);
    }
}

@mixin checkboxes {
    appearance: none;
    background-color: var(--input-background-color);
    border-radius: var(--input-border-radius);
    border: var(--checkbox-border);
    display: grid;
    height: var(--checkbox-box-height);
    margin: var(--spacing-xs);
    place-content: center;
    width: var(--checkbox-box-width);

    &:checked {
        background-color: var(--checkbox-checked-background-color);
    }

    &:checked::before {
        background-color: var(--checkbox-check-color);
        transform: scale(1);
    }

    &:hover:not(:disabled),
    &:not(:disabled):checked {
        border-color: var(--checkbox-border-hover-color);
    }

    &::before {
        content: '';
        width: var(--checkbox-width);
        height: var(--checkbox-height);
        clip-path: var(--checkbox-check-shape);
        transform: scale(0);
        transform-origin: var(--checkbox-transform-origin);
        transition: var(--checkbox-transition);
    }

    &:focus-visible {
        border-radius: var(--checkbox-focus-border-radius);
        outline: var(--checkbox-focus-outline);
        transform: var(--checkbox-focus-transform);
    }

    &:disabled {
        background-color: var(--checkbox-disabled-background-color);
        cursor: not-allowed;
    }
}
