@import '@styles/layer-order.scss';

@layer invoicecloud-base.invoicecloud-components {
    .chip,
    .chip .icon {
        align-items: center;
        display: grid;
    }

    .chip {
        background-color: var(--invoicecloud-chip-background-color);
        border-radius: var(--invoicecloud-chip-border-radius);
        border: var(--invoicecloud-chip-border);
        color: var(--invoicecloud-chip-color);
        font-size: var(--invoicecloud-chip-font-size);
        font-weight: var(--invoicecloud-chip-font-weight);
        grid-template-columns: repeat(2, auto);
        margin: 0;

        .title {
            margin: var(--invoicecloud-chip-title-margin);
        }

        .icon {
            padding: var(--invoicecloud-chip-icon-padding);
        }

        .iconHover {
            background-color: var(--invoicecloud-chip-icon-background-color-hover);
            padding: var(--invoicecloud-chip-icon-padding-hover);
        }
    }

    .chipHover {
        border: var(--invoicecloud-chip-border-hover);
    }
}
