@import '@styles/layer-order.scss';

@layer invoicecloud-base.invoicecloud-components {
    .paragraph {
        font-size: var(--invoicecloud-body-font-size);
        line-height: var(--invoicecloud-body-font-line-height);
        margin: 0 0 var(--invoicecloud-spacing-s) 0;
    }

    .s {
        font-size: var(--invoicecloud-body-font-size-s);
    }

    .xs {
        font-size: var(--invoicecloud-body-font-size-xs);
    }
}
