@import '@styles/layer-order.scss';

@layer base.components {
    .paragraph {
        font-size: var(--body-font-size);
        line-height: var(--body-font-line-height);
        margin: 0 0 var(--spacing-s) 0;
    }

    .s {
        font-size: var(--body-font-size-s);
    }

    .xs {
        font-size: var(--body-font-size-xs);
    }
}
