@import '@styles/layer-order.scss';

@layer base.components {
    .card {
        align-items: flex-start;
        border-radius: var(--card-border-radius);
        box-shadow: var(--elevation-2);
        display: flex;
        flex-direction: column;
        margin-bottom: var(--card-margin-bottom);
        max-width: var(--card-max-width);
        outline: var(--card-outline);

        .dialogWrapper {
            display: flex;
            height: 100%;
        }

        h3 .iconStart {
            margin-right: var(--spacing-xs);
        }

        button:hover {
            cursor: pointer;
        }

        &:has(button:enabled):hover {
            border-radius: var(--card-border-radius);
            outline: var(--card-outline-hover);
        }

        &:has(button:enabled):active:active {
            outline: var(--card-outline-active);
        }

        &:has(.cardButton:focus-visible),
        button:not(.cardButton):focus-visible {
            border-radius: var(--card-border-radius);
            outline: 2px solid var(--card-outline-focus);
            outline-offset: var(--card-outline-offset-focus);
        }

        &:has(button:disabled),
        button:disabled {
            background-color: var(--card-background-color-disabled);
            color: var(--card-color-disabled);
            cursor: not-allowed;
        }

        &:has(button:disabled) h3 {
            color: var(--card-heading-color-disabled);
        }

        &:has(button:disabled) button {
            color: var(--card-button-color-disabled);
        }
    }

    .cardButton {
        background-color: var(--card-button-background-color);
        border: var(--card-button-border);
        display: flex;
        font-family: inherit;
        font-size: inherit;
        flex-direction: column;
        flex: 1;
        height: 100%;
        padding: var(--card-button-padding);
        text-align: left;
        width: 100%;

        &:focus-visible {
            outline: none;
        }
    }

    .linkButtonContainer {
        padding: 0 var(--spacing-s);
        margin-top: auto;
        width: 100%;
    }

    .cardContent {
        flex: 1;
    }

    .cardContent p {
		display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: var(--line-clamp);
		line-clamp: var(--line-clamp);
    }

	.hasDialogCardContent {
		display: flex;
		height: 100%;
	}
}
