@use '@styles/mixins.scss' as *;
@import '@styles/layer-order.scss';

@layer base.components {
    .dialog dialog {
        border: var(--invoicecloud-dialog-border);
        border-radius: var(--invoicecloud-dialog-border-radius);
        max-height: var(--invoicecloud-dialog-max-height);
        max-width: var(--invoicecloud-dialog-max-width);
        padding: var(--invoicecloud-spacing-l) var(--invoicecloud-spacing-l) 0 var(--invoicecloud-spacing-l);
        width: var(--invoicecloud-dialog-width);
    }

    .dialog dialog::backdrop {
        background-color: var(--invoicecloud-dialog-backdrop-background-color);
        transition: var(--invoicecloud-dialog-backdrop-transition);
        opacity: var(--invoicecloud-dialog-backdrop-opacity);
    }

    .dialogGrid {
        display: grid;
        grid-template-rows: repeat(2, auto);
    }

    .dialogTitle {
        margin-bottom: var(--invoicecloud-dialog-title-margin-bottom);
    }

    .actionBar {
        background-color: var(--invoicecloud-dialog-action-bar-background-color);
        border-top: var(--invoicecloud-dialog-action-bar-border-top);
        bottom: 0;
        display: grid;
        justify-content: end;
        position: sticky;
        width: 100%;

        @media (max-width: 500px) {
            justify-content: center;
        }
    }

    .actions {
        margin-top: var(--invoicecloud-spacing-s);

        @include mobile-100-w;

        @media (max-width: 500px) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    .menuClose {
        margin: var(--invoicecloud-spacing-s);
        position: absolute;
        right: 0;
        top: 0;
        background-color: transparent;
        border: none;
    }

    .textCenter {
        text-align: center;
    }

    .buttonCenter {
        justify-self: center;
    }
}
