@import '@styles/layer-order.scss';

@layer base.components {
    .accountLink {
        color: var(--invoicecloud-account-link-color);
        display: block;
        font-size: var(--invoicecloud-account-link-font-size);
        margin: var(--invoicecloud-account-link-margin);
        text-decoration: var(--invoicecloud-account-link-text-decoration);
        width: fit-content;

        &:hover {
            color: var(--invoicecloud-base-theme-3);
            text-decoration: none;
        }
    }

    .selected {
        background-color: var(--invoicecloud-account-link-selected-background-color);
        border-radius: var(--invoicecloud-account-link-selected-border-radius);
        color: var(--invoicecloud-account-link-selected-color);
        padding: var(--invoicecloud-account-link-selected-padding);
        text-decoration: var(--invoicecloud-account-link-selected-text-decoration);

        &:hover {
            background-color: var(--invoicecloud-account-link-selected-hover-background-color);
            color: var(--invoicecloud-account-link-selected-color);
        }
    }
}
