@import '@styles/layer-order.scss';

@layer base.components {
    .container {
        align-items: center;
        background-color: var(--invoicecloud-footer-background-color);
        color: var(--invoicecloud-footer-color);
        display: grid;
        font-size: var(--invoicecloud-footer-font-size);
        grid-template-columns: repeat(auto-fill, minmax(0, auto));
        padding: var(--invoicecloud-footer-padding);
        row-gap: var(--invoicecloud-footer-row-gap);

        .logo {
            padding-right: var(--invoicecloud-footer-logo-padding-right);
        }

        > :not(.logo) {
            border-left: var(--invoicecloud-footer-divider-border);
        }

        > :not(.logo):not(.flex) {
            padding: var(--invoicecloud-footer-link-padding);
        }

        @media (max-width: 800px) {
            grid-template-columns: 1fr;

            > * {
                width: 100%;
            }

            > :not(.logo) {
                border-left: none;
            }

            > :not(.logo):not(.flex) {
                padding: 0;
            }
        }
    }

    .flex {
        align-items: center;
        display: flex;
        padding-left: var(--invoicecloud-footer-padding);

        img {
            padding-right: var(--invoicecloud-footer-row-gap);
        }

        @media (max-width: 800px) {
            padding: 0;
        }
    }
}
