@import '@styles/layer-order.scss';

@layer base.components {
    .header {
        background-color: var(--header-background-color);
        border-bottom: 1px solid var(--header-border-bottom);
        position: relative;
        z-index: 1000;
    }

    .container {
        align-items: center;
        background: var(--header-background-color);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
        max-width: var(--header-max-width);
    }

    .homeLink {
        text-decoration: none;

        img {
            display: block;
            padding: var(--header-logo-padding);
            max-height: var(--header-logo-max-height);

            @media (max-width: 390px) {
                max-height: var(--header-logo-mobile-max-height);
            }
        }
    }

    .menuButton {
        background: none;
        border: none;
        cursor: pointer;
        display: none; // Initially hidden on larger screens
        padding: var(--header-hamburger-toggle-padding);
        margin: var(--header-hamburger-toggle-margin);
        z-index: 10; // Ensure it's above the nav when open

        // Make the button appear on mobile
        @media (max-width: 900px) {
            display: block;
        }
    }

    .backdrop {
        @media (max-width: 900px) {
            animation: var(--header-backdrop-animation);
            background-color: var(--header-backdrop-background-color);
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 999;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}
