@import '@styles/layer-order.scss';

@layer base.components {
    .container {
        position: relative;
        width: fit-content;
    }

    .button {
        background: var(--invoicecloud-kebab-button-background-color);
        border: var(--invoicecloud-kebab-button-border);
        border-radius: var(--invoicecloud-kebab-button-border-radius);
        display: flex;
        align-items: center;
        padding: var(--invoicecloud-kebab-button-padding);

        &:hover {
            background-color: var(--invoicecloud-kebab-button-background-color-hover);
        }

        &.active {
            background-color: var(--invoicecloud-kebab-button-active-background-color);
        }
    }

    .actions {
        background: var(--invoicecloud-kebab-actions-background-color);
        box-shadow: var(--invoicecloud-kebab-actions-box-shadow);
        list-style: none;
        position: absolute;
        right: 0;

        .actionItem {
            border-bottom: var(--invoicecloud-kebab-action-item-border-bottom);

            &:hover {
                background-color: var(--invoicecloud-utility-neutral-05);
            }

            &:last-child {
                border: none;
            }
        }

        .action {
            background: inherit;
            border: none;
            font-size: var(--invoicecloud-kebab-action-item-font-size);
            line-height: var(--invoicecloud-kebab-action-item-line-height);
            padding: var(--invoicecloud-kebab-action-item-padding);
            width: 100%;
            width: max-content;
        }
    }
}
