@import '@styles/layer-order.scss';

@layer invoicecloud-base.invoicecloud-components {
    .nav {
        align-self: end; // important for larger logos
        background-color: var(--invoicecloud-nav-background-color);

        @media (max-width: 900px) {
            display: none;
            flex-direction: column;
        }
    }

    @media (max-width: 900px) {
        .navOpen {
            display: flex;
            width: 100%;
        }
    }

    .navList {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
        padding: 0;

        @media (max-width: 900px) {
            background-color: var(--invoicecloud-nav-background-color);
            flex-direction: column;
            width: 100%;
        }
    }

    .navItem {
        display: flex;
        position: relative;
        padding: var(--invoicecloud-nav-link-padding);

        .navLink {
            cursor: pointer;
        }

        @media (min-width: 1101px) {
            &:hover,
            &:focus,
            &.isActive {
                border-bottom: var(--invoicecloud-nav-link-active-border-bottom);
                color: var(--invoicecloud-nav-link-active-color);
                margin-bottom: var(--invoicecloud-nav-link-active-margin-bottom);

                .navLink {
                    color: var(--invoicecloud-nav-link-active-color);
                }
            }
        }

        @media (max-width: 900px) {
            display: block;
            border-bottom: var(--invoicecloud-submenu-link-border);
            padding: var(--invoicecloud-nav-link-mobile-padding);

            .navLink {
                text-align: left;
            }

            &:last-child {
                border: none;
            }

            &:hover,
            &:focus {
                border-bottom: var(--invoicecloud-submenu-link-border);
                color: var(--invoicecloud-submenu-link-color);

                .navLink {
                    color: var(--invoicecloud-submenu-link-color);
                }
            }
        }
    }

    .linkGrid {
        align-items: center;
        display: grid;
        gap: var(--invoicecloud-nav-link-grid-gap);
        grid-template-columns: auto 20px;
    }

    .linkGridSingleColumn {
        grid-template-columns: auto;
    }

    .navLink {
        background: var(--invoicecloud-nav-link-background-color);
        border: var(--invoicecloud-nav-link-border);
        color: var(--invoicecloud-nav-link-color);
        display: inline-block;
        font-size: var(--invoicecloud-nav-link-font-size);
        font-weight: var(--invoicecloud-nav-link-font-weight);
        line-height: var(--invoicecloud-nav-link-line-height);
        text-decoration: var(--invoicecloud-nav-link-text-decoration);

        .labelContent {
            display: flex;
            justify-content: space-between;
        }

        .mobileLabel {
            display: none;

            @media (max-width: 900px) {
                display: block;
            }
        }

        @media (max-width: 900px) {
            white-space: normal;
        }

        svg {
            vertical-align: middle;
        }
    }

    .dropdownToggle {
        background: none;
        border: none;
        cursor: pointer;
    }

    .iconRotate svg {
        transform: rotate(180deg);
    }

    .subMenu {
        background: var(--invoicecloud-submenu-background-color);
        box-shadow: var(--invoicecloud-submenu-elevation);
        list-style: none;
        position: absolute;
        right: 0;
        top: 105%;

        .subMenu {
            top: 0;
            right: 100%;
        }

        @media (max-width: 900px) {
            position: static;
            box-shadow: var(--invoicecloud-submenu-mobile-elevation);
        }

        .navItem {
            border-bottom: var(--invoicecloud-submenu-link-border);
            display: block;
            margin: 0;
            padding: var(--invoicecloud-submenu-link-padding);
            text-decoration: var(--invoicecloud-submenu-link-text-decoration);
            white-space: nowrap;

            .navLink {
                color: var(--invoicecloud-submenu-link-color);
                font-weight: var(--invoicecloud-submenu-font-weight);
            }

            &:hover > .linkGrid .navLink,
            &:focus > .linkGrid .navLink {
                color: var(--invoicecloud-submenu-link-hover-color);
            }

            &:hover,
            &:focus {
                background: var(--invoicecloud-submenu-link-hover-background);
                margin-bottom: 0;
            }

            @media (max-width: 900px) {
                margin: 0 calc(-1 * var(--invoicecloud-spacing-s));

                &:first-child {
                    border-top: var(--invoicecloud-submenu-link-border);
                    margin-top: var(--invoicecloud-spacing-xs);
                }

                &:last-child {
                    border-bottom: none;
                    margin-bottom: calc(-1 * var(--invoicecloud-spacing-xs));
                }

                &:hover,
                &:focus {
                    background: none;
                }
            }
        }
    }
}
