@import '@styles/layer-order.scss';

@layer invoicecloud-base.invoicecloud-components {
	// to-do: abstract styles to CSS vars
    .tab {
        background-color: var(--invoicecloud-utility-neutral-05);
        border: 1px solid var(--invoicecloud-utility-neutral-20);
        border-bottom: 2px solid var(--invoicecloud-utility-neutral-20);
        border-radius: var(--invoicecloud-border-radius-s) var(--invoicecloud-border-radius-s) 0 0;
        color: var(--invoicecloud-base-theme-4);
        font-size: clamp(0.8rem, 2vw + 0.5rem, 1.15rem);
        font-weight: 700;
        padding: var(--invoicecloud-spacing-xs) var(--invoicecloud-spacing-s);

        &:hover {
            color: vvar--(theme-a-3);
        }

        @media (max-width: 500px) {
            display: block;
            border: none;
            border-right: 2px solid var(--invoicecloud-utility-neutral-20);
            padding: 12px var(--invoicecloud-spacing-s);
        }
    }

    .tab[aria-selected='true'] {
        background-color: transparent;
        border: 2px solid var(--invoicecloud-utility-neutral-30);
        border-bottom: none;
        color: var(--invoicecloud-utility-neutral-80);

        @media (max-width: 500px) {
            border: 2px solid var(--invoicecloud-utility-neutral-20);
            border-right: none;
            border-radius: var(--invoicecloud-border-radius-s) 0 0 var(--invoicecloud-border-radius-s);
        }
    }
}
