:root {
    --invoicecloud-border-radius-s: var(--invoicecloud-spacing-xxs);
    --invoicecloud-border-radius-m: var(--invoicecloud-spacing-xs);
    --invoicecloud-border-radius-l: var(--invoicecloud-spacing-l);
}
