:root {
    /* Primary Buttons */
	--invoicecloud-primary-button-background-color: var(--invoicecloud-default-theme-4);
	--invoicecloud-primary-button-background-color-hover: var(--invoicecloud-default-theme-3);
    --invoicecloud-primary-button-border: none;
    --invoicecloud-primary-button-border-radius: var(--invoicecloud-spacing-xxs);
    --invoicecloud-primary-button-color: var(--invoicecloud-utility-neutral-0);
    --invoicecloud-primary-button-border-outline: 2px solid var(--invoicecloud-base-theme-4);
    --invoicecloud-primary-button-border-outline-hover: 2px solid var(--invoicecloud-base-theme-3);
    --invoicecloud-primary-button-font-size: 1rem;
    --invoicecloud-primary-button-font-weight: 700;
    --invoicecloud-primary-button-margin: 0 var(--invoicecloud-spacing-s) var(--invoicecloud-spacing-s) 0;
    --invoicecloud-primary-button-padding: 12px 20px;

    --invoicecloud-primary-button-error-background-color: var(--invoicecloud-utility-red-50);
    --invoicecloud-primary-button-error-background-color-hover: var(--invoicecloud-utility-red-70);

    --invoicecloud-primary-button-inner-align-items: center;
    --invoicecloud-primary-button-inner-display: flex;
    --invoicecloud-primary-button-inner-justify-content: center;
    --invoicecloud-primary-button-inner-gap: var(--invoicecloud-spacing-xs);

    --invoicecloud-primary-button-disabled-border: none;
    --invoicecloud-primary-button-disabled-border-hover: var(--invoicecloud-primary-button-disabled-border);
    --invoicecloud-primary-button-disabled-background-color: var(--invoicecloud-utility-neutral-10);
    --invoicecloud-primary-button-disabled-background-color-hover: var(--invoicecloud-primary-button-disabled-background-color);
    --invoicecloud-primary-button-disabled-color: var(--invoicecloud-utility-neutral-60);
    --invoicecloud-primary-button-disabled-color-hover: var(--invoicecloud-primary-button-disabled-color);

    /* Secondary Buttons */
    --invoicecloud-secondary-button-background-color: var(--invoicecloud-utility-neutral-0);
    --invoicecloud-secondary-button-color-hover: var(--invoicecloud-utility-neutral-0);
    --invoicecloud-secondary-button-base-color: var(--invoicecloud-utility-neutral-0);

    --invoicecloud-secondary-button-error-border: 2px solid var(--invoicecloud-utility-red-50);
    --invoicecloud-secondary-button-error-color: var(--invoicecloud-utility-red-50);
    --invoicecloud-secondary-button-error-background-color-hover: var(--invoicecloud-utility-red-70);
    --invoicecloud-secondary-button-error-border-hover: 2px solid var(--invoicecloud-utility-red-70);

    --invoicecloud-secondary-button-disabled-background-color: var(--invoicecloud-primary-button-disabled-background-color);
    --invoicecloud-secondary-button-disabled-background-color-hover: var(--invoicecloud-primary-button-disabled-background-color-hover);
    --invoicecloud-secondary-button-disabled-border: var(--invoicecloud-primary-button-disabled-border);
    --invoicecloud-secondary-button-disabled-border-hover: var(--invoicecloud-primary-button-disabled-border-hover);
    --invoicecloud-secondary-button-disabled-color: var(--invoicecloud-primary-button-disabled-color);
    --invoicecloud-secondary-button-disabled-color-hover: var(--invoicecloud-primary-button-disabled-color-hover);

    /* Simple Buttons */
    --invoicecloud-simple-button-background-color: none;
    --invoicecloud-simple-button-background-color-hover: var(--invoicecloud-simple-button-background-color);
    --invoicecloud-simple-button-border: none;
    --invoicecloud-simple-button-border-radius: var(--invoicecloud-border-radius-s);
    --invoicecloud-simple-button-color: var(--invoicecloud-utility-neutral-100);
    --invoicecloud-simple-button-margin: var(--invoicecloud-primary-button-padding);
    --invoicecloud-simple-button-padding: 0;

    --invoicecloud-simple-button-error-color: var(--invoicecloud-primary-button-error-background-color);
    --invoicecloud-simple-button-error-color-hover: var(--invoicecloud-primary-button-error-background-color-hover);

    --invoicecloud-simple-button-disabled-background: none;
    --invoicecloud-simple-button-disabled-color: var(--invoicecloud-primary-button-disabled-color);
    --invoicecloud-simple-button-disabled-color-hover: var(--invoicecloud-simple-button-disabled-color);

    /* Link Icon Buttons */
    --invoicecloud-link-icon-button-align-items: var(--invoicecloud-primary-button-inner-align-items);
    --invoicecloud-link-icon-button-background-color: var(--invoicecloud-simple-button-background-color);
    --invoicecloud-link-icon-button-background-color-hover: var(--invoicecloud-simple-button-background-color-hover);
    --invoicecloud-link-icon-button-color: var(--invoicecloud-base-theme-4);
    --invoicecloud-link-icon-button-display: inline-flex;
    --invoicecloud-link-icon-button-gap: var(--invoicecloud-primary-button-inner-gap);
    --invoicecloud-link-icon-button-justify-content: var(--invoicecloud-primary-button-inner-justify-content);
    --invoicecloud-link-icon-button-line-height: 1;
    --invoicecloud-link-icon-button-padding: var(--invoicecloud-spacing-xxs);
    --invoicecloud-link-icon-button-vertical-align: middle;
    --invoicecloud-link-icon-only-button-padding: var(--invoicecloud-spacing-xxs);

    --invoicecloud-link-icon-button-error-color: var(--invoicecloud-primary-button-error-background-color);
    --invoicecloud-link-icon-button-error-color-hover: var(--invoicecloud-primary-button-error-background-color-hover);
    --invoicecloud-link-icon-only-button-error-background-color-hover: var(--invoicecloud-primary-button-error-background-color);

    --invoicecloud-link-icon-button-disabled-color: var(--invoicecloud-primary-button-disabled-color);
    --invoicecloud-link-icon-button-disabled-color-hover: var(--invoicecloud-primary-button-disabled-color-hover);
    --invoicecloud-link-icon-only-button-disabled-background-color: var(--invoicecloud-simple-button-disabled-background);
    --invoicecloud-link-icon-only-button-disabled-background-color-hover: var(--invoicecloud-link-icon-only-button-disabled-background-color);

    /* CTA Buttons */
    --invoicecloud-cta-button-padding: 12px 70px;
    --invoicecloud-cta-button-align-items: var(--invoicecloud-primary-button-inner-align-items);
    --invoicecloud-cta-button-border: 2px solid var(--invoicecloud-utility-neutral-10);
    --invoicecloud-cta-button-border-radius: var(--invoicecloud-border-radius-l);
    --invoicecloud-cta-button-display: inline-flex;
    --invoicecloud-cta-button-justify-content: var(--invoicecloud-primary-button-inner-justify-content);
    --invoicecloud-cta-button-gap: var(--invoicecloud-primary-button-inner-gap);
}
