:root {
	/* Alert */
	--invoicecloud-alert-border-radius: var(--invoicecloud-border-radius-s);
	--invoicecloud-alert-font-size: 14px;
	--invoicecloud-alert-line-height: 1.4;
	--invoicecloud-alert-margin-bottom: 16px;
	--invoicecloud-alert-padding: var(--invoicecloud-alert-margin-bottom);
}