:root {
    --invoicecloud-focus-outline-offset-s: 3px;
    --invoicecloud-focus-outline-offset-m: var(--invoicecloud-spacing-xxs);
    --invoicecloud-focus-outline: 2.5px solid var(--invoicecloud-base-theme-3);
}
