:root {
	/* Header */
	--invoicecloud-header-background-color: var(--invoicecloud-nav-background-color);
	--invoicecloud-header-border-bottom: 1px solid var(--invoicecloud-utility-neutral-20);
	--invoicecloud-header-max-width: var(--invoicecloud-layout-max-width);
	--invoicecloud-header-logo-padding: var(--invoicecloud-spacing-xs);
	--invoicecloud-header-logo-max-height: 50px;
	--invoicecloud-header-logo-mobile-max-height: 40px;
	--invoicecloud-header-backdrop-animation: fadeIn 0.1s ease-in-out;
	--invoicecloud-header-backdrop-background-color: rgba(0, 0, 0, 0.75);

	--invoicecloud-header-hamburger-toggle-padding: 0;
	--invoicecloud-header-hamburger-toggle-margin: 0 var(--invoicecloud-spacing-s);
	--invoicecloud-header-hamburger-toggle-background-color: var(--invoicecloud-utility-neutral-70);
	--invoicecloud-header-hamburger-toggle-border-radius: var(--invoicecloud-border-radius-m);
	--invoicecloud-header-hamburger-transition: 0.2s ease-in-out;

    /* Primary Navigation */
	--invoicecloud-nav-background-color: var(--invoicecloud-utility-neutral-0);
	--invoicecloud-nav-link-background-color: none;
	--invoicecloud-nav-link-border: var(--invoicecloud-nav-link-background-color);
    --invoicecloud-nav-link-color: var(--invoicecloud-utility-neutral-70);
    --invoicecloud-nav-link-font-size: 16px;
	--invoicecloud-nav-link-line-height: 1.4;
    --invoicecloud-nav-link-hover-color: var(--invoicecloud-utility-neutral-100);
    --invoicecloud-nav-link-hover-weight: 2px;
    --invoicecloud-nav-link-font-weight: 600;
    --invoicecloud-nav-link-padding: var(--invoicecloud-spacing-s);
	--invoicecloud-nav-link-text-decoration: none;
    --invoicecloud-nav-link-mobile-padding: var(--invoicecloud-spacing-xs) var(--invoicecloud-spacing-s);
	--invoicecloud-nav-link-active-border-bottom: 2px solid var(--invoicecloud-nav-link-hover-color);
	--invoicecloud-nav-link-active-color: var(--invoicecloud-nav-link-hover-color);
	--invoicecloud-nav-link-active-margin-bottom: -2px;
	--invoicecloud-nav-link-grid-gap: var(--invoicecloud-spacing-xs);
	
    --invoicecloud-submenu-background-color: var(--invoicecloud-utility-neutral-0);
    --invoicecloud-submenu-elevation: var(--invoicecloud-elevation-1);
	--invoicecloud-submenu-mobile-elevation: none;
    --invoicecloud-submenu-link-border: 1px solid var(--invoicecloud-utility-neutral-20);
    --invoicecloud-submenu-link-color: var(--invoicecloud-nav-link-color);
    --invoicecloud-submenu-link-hover-color: var(--invoicecloud-utility-neutral-100);
    --invoicecloud-submenu-link-padding: var(--invoicecloud-spacing-xs) var(--invoicecloud-spacing-s) var(--invoicecloud-spacing-xs) var(--invoicecloud-spacing-m);
    --invoicecloud-submenu-link-hover-background: var(--invoicecloud-utility-neutral-05);
	--invoicecloud-submenu-link-text-decoration: var(--invoicecloud-nav-link-text-decoration);
    --invoicecloud-submenu-font-weight: 400;

	/* Footer Navigation */
	--invoicecloud-footer-background-color: var(--invoicecloud-utility-neutral-10);
	--invoicecloud-footer-color: var(--invoicecloud-utility-neutral-70);
	--invoicecloud-footer-font-size: var(--invoicecloud-spacing-s);
	--invoicecloud-footer-padding: var(--invoicecloud-spacing-m);
	--invoicecloud-footer-row-gap: var(--invoicecloud-spacing-s);
	--invoicecloud-footer-logo-padding-right: var(--invoicecloud-footer-padding);
	--invoicecloud-footer-divider-border: 1px solid var(--invoicecloud-utility-neutral-20);
	--invoicecloud-footer-link-padding: 0 var(--invoicecloud-spacing-m);

	/* Inline Link */
	--invoicecloud-inline-link-color: var(--invoicecloud-base-theme-4);
	--invoicecloud-inline-link-color-hover: var(--invoicecloud-base-theme-3);
	--invoicecloud-inline-link-text-decoration: none;

	--invoicecloud-inline-link-default-color: var(--invoicecloud-utility-neutral-70);
	--invoicecloud-inline-link-default-color-hover: var(--invoicecloud-utility-neutral-90);

	/* Account Links */
	--invoicecloud-account-link-color: var(--invoicecloud-base-theme-4);
	--invoicecloud-account-link-font-size: 14px;
	--invoicecloud-account-link-margin: 0 var(--invoicecloud-spacing-xs) var(--invoicecloud-spacing-xs) 0;
	--invoicecloud-account-link-text-decoration: underline;

	--invoicecloud-account-link-selected-background-color: var(--invoicecloud-alternate-theme-3);
	--invoicecloud-account-link-selected-border-radius: var(--invoicecloud-border-radius-l);
	--invoicecloud-account-link-selected-color: var(--invoicecloud-utility-neutral-0);
	--invoicecloud-account-link-selected-padding: var(--invoicecloud-spacing-xxs) var(--invoicecloud-spacing-xs);
	--invoicecloud-account-link-selected-text-decoration: none;

	--invoicecloud-account-link-selected-hover-background-color: var(--invoicecloud-account-link-selected-background-color);
	--invoicecloud-account-link-selected-hover-color: var(--invoicecloud-account-link-selected-color);

	/* Kebab Menu */
	--invoicecloud-kebab-button-background-color: none;
	--invoicecloud-kebab-button-background-color-hover: var(--invoicecloud-base-theme-1);
	--invoicecloud-kebab-button-border: none;
	--invoicecloud-kebab-button-border-radius: var(--invoicecloud-border-radius-s);
	--invoicecloud-kebab-button-padding: 6px 10px;
	--invoicecloud-kebab-button-active-background-color: var(--invoicecloud-base-theme-4);

	--invoicecloud-kebab-actions-background-color: var(--invoicecloud-utility-neutral-0);
	--invoicecloud-kebab-actions-box-shadow: 0px 8px 16px 0px rgba(28, 28, 28, 0.16);
	
	--invoicecloud-kebab-action-item-border-bottom: var(--invoicecloud-submenu-link-border);
	--invoicecloud-kebab-action-item-background-color-hover: var(--invoicecloud-utility-neutral-05);
	--invoicecloud-kebab-action-item-font-size: 16px;
	--invoicecloud-kebab-action-item-line-height: 1.4;
	--invoicecloud-kebab-action-item-padding: var(--invoicecloud-spacing-xs) var(--invoicecloud-spacing-s);
}
