:root {
    --invoicecloud-spacing-xxs: 4px;
    --invoicecloud-spacing-xs: 8px;
    --invoicecloud-spacing-s: 16px;
    --invoicecloud-spacing-m: 24px;
    --invoicecloud-spacing-l: 32px;
    --invoicecloud-spacing-xl: 40px;
    --invoicecloud-spacing-xxl: 48px;
}
