:root {
    /* Success */
    --invoicecloud-status-success-color: var(--invoicecloud-utility-green-80);
    --invoicecloud-status-success-background-color: var(--invoicecloud-utility-green-10);
    --invoicecloud-status-success-border: 1px solid var(--invoicecloud-utility-green-20);

    /* Warning */
    --invoicecloud-status-warning-color: var(--invoicecloud-utility-yellow-90);
    --invoicecloud-status-warning-background-color: var(--invoicecloud-utility-yellow-10);
    --invoicecloud-status-warning-border: 1px solid var(--invoicecloud-utility-yellow-30);

    /* Error */
    --invoicecloud-status-error-color: var(--invoicecloud-utility-red-70);
    --invoicecloud-status-error-background-color: var(--invoicecloud-utility-red-10);
    --invoicecloud-status-error-border: 1px solid var(--invoicecloud-utility-red-20);

    /* Info */
    --invoicecloud-status-info-color: var(--invoicecloud-utility-blue-70);
    --invoicecloud-status-info-background-color: var(--invoicecloud-utility-blue-10);
    --invoicecloud-status-info-border: 1px solid var(--invoicecloud-utility-blue-30);

    /* Neutral */
    --invoicecloud-status-neutral-color: var(--invoicecloud-utility-neutral-70);
    --invoicecloud-status-neutral-background-color: var(--invoicecloud-utility-neutral-05);
    --invoicecloud-status-neutral-border: 1px solid var(--invoicecloud-utility-neutral-20);
}
