:root {
	--invoicecloud-table-background-color: var(--invoicecloud-utility-neutral-0);
	--invoicecloud-table-background-color-odd: var(--invoicecloud-utility-neutral-05);
	--invoicecloud-table-margin-bottom: var(--invoicecloud-spacing-xxl);
	--invoicecloud-table-min-width: 700px;
	--invoicecloud-table-width: 100%;
	--invoicecloud-table-row-padding: 12px var(--invoicecloud-spacing-xs);
	--invoicecloud-table-active-row-border-color: var(--invoicecloud-base-theme-4);

	--invoicecloud-table-pagination-select-border: 1px solid var(--invoicecloud-utility-neutral-50);
	--invoicecloud-table-pagination-select-border-radius: var(--invoicecloud-border-radius-s);
	--invoicecloud-table-pagination-numeral-color: var(--invoicecloud-base-theme-4);
	--invoicecloud-table-pagination-numeral-border-radius: var(--invoicecloud-border-radius-s);
	--invoicecloud-table-pagination-numeral-font-weight: 700;
	--invoicecloud-table-pagination-numeral-font-size: 16px;
	--invoicecloud-table-pagination-numeral-selected-background-color: var(--invoicecloud-table-pagination-numeral-color);
	--invoicecloud-table-pagination-numeral-selected-color: var(--invoicecloud-utility-neutral-0);

	--invoicecloud-table-dynamic-active-row-action-background-color: var(--invoicecloud-utility-blue-10);
	--invoicecloud-table-chevron-color: var(--invoicecloud-base-theme-3);
}