:root {
    /* Base Theme Tokens */
    --invoicecloud-base-theme-1: var(--invoicecloud-utility-blue-10);
    --invoicecloud-base-theme-2: var(--invoicecloud-utility-blue-30);
    --invoicecloud-base-theme-3: var(--invoicecloud-utility-blue-50);
    --invoicecloud-base-theme-4: var(--invoicecloud-utility-blue-70);

    /* Alternate Theme Tokens */
    // --invoicecloud-alternate-theme-1: var(--invoicecloud-utility-green-xx);
    --invoicecloud-alternate-theme-2: var(--invoicecloud-utility-green-60);
    --invoicecloud-alternate-theme-3: var(--invoicecloud-utility-green-70);
    --invoicecloud-alternate-theme-4: var(--invoicecloud-utility-green-80);

    /* Default Theme Tokens */
    // --invoicecloud-default-theme-1: var(--invoicecloud-utility-neutral-10);
    // --invoicecloud-default-theme-2: var(--invoicecloud-utility-neutral-30);
    --invoicecloud-default-theme-3: var(--invoicecloud-utility-neutral-80);
    --invoicecloud-default-theme-4: var(--invoicecloud-utility-neutral-90);
}
