:root {
    /* Elevation */
    --invoicecloud-elevation-1: 0px 4px 8px rgba(0, 0, 0, 0.1);
    --invoicecloud-elevation-2: 0 2px 4px 0 rgba(28, 28, 28, 0.16)

    /* Layout */
    --invoicecloud-layout-max-width: 1250px;
}
