@import '@styles/layer-order.scss';

@layer invoicecloud-base.invoicecloud-components {
    .alert {
        border-radius: var(--invoicecloud-alert-border-radius);
        display: grid;
        font-size: var(--invoicecloud-alert-font-size);
        grid-template-columns: auto 1fr 20px;
        line-height: var(--invoicecloud-alert-line-height);
        margin-bottom: var(--invoicecloud-alert-margin-bottom);
        padding: var(--invoicecloud-alert-padding);

        span:first-of-type {
            margin-right: var(--invoicecloud-spacing-xs);
        }

        span:last-of-type {
            justify-self: right;
        }
    }

    .info {
        background-color: var(--invoicecloud-status-info-background-color);
        border: var(--invoicecloud-status-info-border);
        color: var(--invoicecloud-status-info-color);
    }

    .error {
        background-color: var(--invoicecloud-status-error-background-color);
        border: var(--invoicecloud-status-error-border);
        color: var(--invoicecloud-status-error-color);
    }

    .success {
        background-color: var(--invoicecloud-status-success-background-color);
        border: var(--invoicecloud-status-success-border);
        color: var(--invoicecloud-status-success-color);
    }

    .warning {
        background-color: var(--invoicecloud-status-warning-background-color);
        border: var(--invoicecloud-status-warning-border);
        color: var(--invoicecloud-status-warning-color);
    }

    .button {
        align-self: start;
        background-color: transparent;
        border: none;
        padding: 0;
    }
}
